<div class="container">
    <div class="space" style="height: 30px;"></div>

    <div class="card">
        <div class="d-flex justify-content-between p-3">
            <div class="image">
                <img src="https://icon-library.com/images/assessment-icon-png/assessment-icon-png-23.jpg" width="90" >

            </div>

            <div class="quiz-header" >
                <h2 style="font-family:cursive ;">Angular & TypeScript Quiz!</h2>
                <span style="font-family:italic ;">Welcome  {{name}} </span>

            </div>

        </div>

        <div class="d-flex justify-content-around py-3">
            <div  class="score">
                <h4>{{points}} Points</h4>

            </div>

            <div class="question-remain">
                <span style="font-family:italic ;">Question 1 of 9</span>

            </div>
            <div class="timer">
               {{counter}}  sec <mat-icon>timer</mat-icon>

            </div>

        </div>

        <div class="progress  m-3">
            <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
         </div>

         <div class="question m-3">
             <div class="card">
                 <h1 >{{questionList[currentQuestion]?.questionText}}</h1>

             </div>
         </div>
         <div class="options" >
             <ol>
                 <li><div class=" card op ">hh</div></li>
                 <li><div class=" card op">hh</div></li>
                 <li><div class=" card op">hh</div></li>
                 <li><div class=" card op">hh</div></li>

             </ol>
         </div>

         <div class="d-flex justify-content-between p-3 ">
            <button mat-mini-fab color="primary"  >
                <mat-icon >arrow_left</mat-icon>
            </button>
            <button mat-mini-fab color="primary" >
                <mat-icon>refresh</mat-icon>
              </button>

            <button mat-mini-fab color="primary" >
                <mat-icon >arrow_right</mat-icon>
            </button>
            
            



         </div>
    </div>
</div>